/* .flex-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  } */
  
  .com-1-flex-item{
    background: white;
    padding: 20px;
    width: 750px;
    min-height: 150px;
    color: black;
    margin-right: 40px;
    margin-bottom: 30px;
    border-radius: 25px;
  }
  
  p.com-1-firstField{
    color: #2929a3;
    font-weight: bold;
    font-size: 18px;
  }
  
  .com-1-divForText{
    max-width: 600px;
    display: flex;
    align-items:center;
  }
  
  .com-1-picClass2{
    width: 100px;
    height: 100px;
    margin-left: 40px;
  }
  
  .com-1-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .com-1-button:hover {
    background-color: #2f6a31; 
  }