.com-3-flex-item {
    background: white;
    padding: 20px;
    width: 200px;
    min-height: 150px;
    color: black;
    margin-right: 40px;
    margin-bottom: 30px;
    border-radius: 25px;
  }
  
.com-3-iclass{
    color: #00b3b3;
    padding: 2px;
    background-color: #80ffff;
  }

.com-3-parentDiv {
    display: block;
    height: 70px;
    width: 100%;
}

.com-3-icon1 {
    float: left;
}

.com-3-icon2 {
    margin-left: 10px;
    float: right;
}

.com-3-span{
    color: green;
}